<div>
    <div class="container">
        <form action="/saveImage" method="post" enctype="multipart/form-data">
            <p>Agregar imagen</p>
            <div class="form-group">
                <label for="inputTitleImage">Titulo Imagen:</label>
                <input type="title" class="form-control" name="titleImage" aria-describedby="titleHelp"
                    placeholder="Agregar titulo ">
            </div>
            <div class="form-group">
                <label for="inputDescriptionImage">Descripcion imagen:</label>
                <textarea class="form-control" name="descriptionImage" rows="2"></textarea>
            </div>
            <div class="form-group">
                <label for="inputSelectionImage">Seleccionar imagen</label>
                <input type="file" class="form-control-file" name="selectedImage">
            </div>
            <button type="submit" class="btn btn-outline-success">Agregar Imagen</button>
        </form>
    </div>
</div>