<div>
<<<<<<< HEAD
    <p>Hola mundo......</p>
=======
    <form action="/form">
        <input type="submit" class="btn btn-primary" value="Agregar imagen">
    </form>
    <p>Inicio</p>
>>>>>>> 01f7eb6e9f6d43faac4cd572b0bffa7b2b99c33f
</div>