<!DOCTYPE html>
<html lang="en">

<head>
    <title>Laboratorio3</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/flatly/bootstrap.min.css">
</head>

<body class="d-flex flex-column">
    {{> header}}
    <div id="page-content"> 
        {{{body}}}
    </div>
    {{> footer}}
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</body>

</html>